<li><%= link_to 'Parties', parties_path %></li>
<li><%= link_to 'Add New Party', new_party_path %></li>
<li><%= link_to 'Wishlists', wishlists_path %></li>
<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
